.quotation{
	background-color: #0097e6;
	color:#f5f6fa;
	font-size:16px;
}
.color{
	background-color: #273c75;
	font-size:22px;
}
.html-css{
	background-color:#c23616;
}
.h6{
	color:#718093;
}
.list{
	background-color:#ff4757;
}
.selector{
	background: #5352ed;
}
th,td{
	border:1px solid #ED4C67;
}